<ul class="nav nav-pills">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Artists", artists_path %></li>
</ul>
<ol type="1" class="dialog">
<h1> <%= @album.album_name %> </h1>
<% @album.tracks.each do |track| %>
<li><%= track.track_list.titlecase %> | <%= link_to 'Delete', artist_album_track_path(@artist,@album,track), :method => :delete, :data => {:confirm => "Are you sure?" } %></li>
<% end %>
<hr>
<span class="text text-success"><%= notice %></span>
<p></p>
<td><%= button_to 'Add tracks', new_artist_album_track_path(@artist, @album), :class => 'btn btn-info', :method => :get %></td>
</ol>
<br/>

<%= link_to 'Back', artist_albums_path(@artist) %>