
  <ul class="nav nav-pills">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Artists", artists_path %></li>
    <li><%= link_to "Albums", show_album_index_path %></li>
  </ul>
  
  <div class="dialog">
  <h1 class="text text-info"> <%= @album.album_name %> </h1>
  <p align="right"><b>by: </b><span class="text text-info"><%= @artist.name %></span></p>
  <h5> Tracks: </h5>
	<ul>
		<% if @album.tracks.count == 0 %>
		<p class="muted" align="center"><%= "No Tracks Found for this Album!" %></p>
		<% else %>
		<% @album.tracks.each do |track| %>
		<li class="to_gray"><%= track.track_list.titlecase %></li>
		<% end %>
		<% end %>
	</ul>
  <p><strong>Genre: </strong><span class="muted"><%= @album.genre %></span> </p>
  <p><strong>Date Published: </strong><span class="muted"><%= @album.date_published.strftime("%B %d, %Y") %></span></p>
  <p><strong>Remarks: </strong><span class="muted"><%= @album.remarks %></span></p>
  <hr>
  </div>
  <br/>

<%= link_to "See more about #{@artist.name}", artist_albums_path(@artist) %>
<hr>
<center>
<footer class="muted"> © Copyright 2012 | Proudcloud </footer>
</center>
