<ul class="nav nav-pills">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Artists", artists_path %></li>
</ul>
<div class="dialog">
<center><h2> Create Artist </h2></center>
<%= form_for @artist do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, :placeholder => 'Enter Artist Name' %><br/>
  <%= f.label :bio, "Bio" %>
  <%= f.text_area :bio, rows: 3, :placeholder => 'Enter Description of Artist' %><br/>
  <%= f.submit "Submit", :disable_with => 'Submitting...', :class => 'btn btn-inverse' %>
<% end %>
</div>
<% if @artist.errors.any? %>
<div class="dialog-error">
<span class="text-error">
	<% @artist.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
	</div></span>
<% end %>

<%= link_to "Back", artists_path %>