<div class="dialog">
<center><h2> Create Artist </h2></center>
<%= form_for @artist do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %><br/>
  <%= f.label :bio, "Bio" %><br />
  <%= f.text_area :bio, rows: 3 %><br/>
  <%= f.submit "Submit", :disable_with => 'Submitting...' %>
<% end %>
</div>
<div class="dialog-error">
<span class="text-error"><% if @artist.errors.any? %>
	<% @artist.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
<% end %></span>
</div>
<%= link_to "Back", artists_path %>