<h1>Artist page</h1>

 <table class="table table-striped">
   <th>Name</th>
   <th>Bio</th>
   <th>Album/s</th>
   <th></th>
   <th></th>

<% @artists.each do |artist| %>
 
  <tr>
    <td><%= link_to artist.name, artist %></td>
    <td class="muted"><%= artist.bio %></td>
    <td class="muted">
    <% if artist.albums.count > 0 %>
    <% artist.albums.each do |album| %>
      <%= album.album_name %>
      <% end %>
    <% else %>
    <span class="text-error"><%= 'No Existing Album' %></span>
    <% end %>
    </td>

    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Destroy', artist, :method => :delete, :data => {:confirm => "Please wag mo ko delete :(" } %></td>
  </tr>

<% end %>
</table>
<br/>
<%= link_to "Add artist", new_artist_path %>
<hr>
