<% provide(:title, ' |Artists') %>
<ul class="nav nav-pills">
  <li><%= link_to "Home", root_path %></li>
  <li class = "active"><%= link_to "Artists", artists_path %></li>
  <li><%= link_to "Albums", show_album_index_path %></li>
</ul>
<br/>
<% if @artists.count  > 0 %>
<div class ="hero-unit">
    <h3>Featured Artist: <span class ="text-info">
      <%= link_to @featured_artist.name.titlecase, artist_path(@featured_artist.id) %></span></h3>
</div>
<% else %>

<% end %> 
<h1>Napster's Artists</h1>
 <table class="table table-hover">
   <th>Name</th>
   <th>Bio</th>
   <th>Album/s</th>
   <th></th>
   <th></th>
<% if @artists.count > 0 %>
<% @artists.each do |artist| %>
 
  <tr>
    <td><%= link_to artist.name.titlecase, artist %></td>
    <td class="muted"><%= artist.bio %></td>
    <td class="muted">
    <% if artist.albums.count > 0 %>
    <% artist.albums.each do |album| %>
      <li><%= album.album_name %></li>
      <% end %>
    <% else %>
    <span class="text-error"><%= 'No Existing Album' %></span>
    <% end %>
    </td>

    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Destroy', artist, :method => :delete, :data => {:confirm => "Are you sure?"}%></td>
     <% end %>
     <% else %>
  </tr>
  <p align="right"><span class="text text-warning"><%= "Napster doesn't have an awesome artist yet, Create now!" %></span><p>
  <% end %>
</table>
<center><span class="text text-success"><%= notice %></span></center>
<br/>
<% if %>
<% @artists.count == 0 %>
<%= button_to "Create an artist", new_artist_path, :class => 'btn btn-info', :method => :get %>
<% else %>
<%= button_to "Add artist", new_artist_path, :class => 'btn btn-info', :method => :get %>
<% end %>

<hr>
<center>
<footer class="muted"> © Copyright 2012 | Proudcloud </footer>
</center>

