<h1>Artist page</h1>

 <table border = 1>
   <th>Name</th>
   <th>Bio</th>
   <th>Album/s</th>


<% @artists.each do |artist| %>
 
  <tr>
    <td><%= artist.name %></td>
    <td><%= artist.bio %></td>
    <td><% @albums.each do |album| %>
    <%= link_to album.album_name, artist_album_path(artist, album) %><br/>
    <% end %>
    </td>
    <td><%= link_to 'Show', artist %> </td>
    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Destroy', artist, :method => :delete, :data => {:confirm => "Please wag mo ko delete :(" } %>
  </tr>

<% end %>
</table>
<br/>
<%= link_to "Add artist", new_artist_path %>
<hr>
<%= link_to "Home", root_path %> 