<h1>Artist Page</h1>

<li><b>Name: </b><%= @artist.name.titlecase %> </li>
<li><b>Bio: </b><%= @artist.bio %> </li>
<li><b><u><%= link_to 'Albums', artist_album_path(@artist) %></u></b></li>
<% @artist.albums.each do |album| %>
- <%= album.album_name %>
<br/>
<% end %>
<br/>
<%= link_to 'Add album', new_artist_album_path(@artist) %>
<hr>
<%= link_to 'Back to Artists', artists_path %>