<ul class="nav nav-pills">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Artists", artists_path %></li>
  <li><%= link_to "Albums", show_album_index_path %></li>
</ul>
<div class="dialog">
<h1><%= @artist.name.titlecase %></h1>
<p><b><span class="text-info">Bio:</span> </b><span class="to_gray"><%= @artist.bio %></span></p>
<p><b><span class="text-info">Albums</b></p>
<ol type="1">
<% if @artist.albums.count > 0 %>
<% @artist.albums.each do |album| %>
<li class="muted"><%= album.album_name %></li>
<% end %>
<% else %>
<span class="muted"><%= "#{@artist.name.titlecase} doesn\'t have an album yet." %>
	<br/>
	<%= 'Create an Album first!' %>
</span>
<% end %>
</ol>
	<p>
	  <b><span class="text-info">Date created: </span></b>
	  <span class="muted"> <%= @artist.created_at.strftime("%B %d, %Y") %></span>
	</p>
<hr>
<% if @artist.albums.count == 0 %>
<%= button_to 'Create an Album', artist_albums_path(@artist), :class => 'btn btn-info', :method => :get %>
<% else %>
<%= button_to 'Show Album Details', artist_albums_path(@artist), :class => 'btn btn-info', :method => :get %>
<% end %>
</div>
<br/>
<hr>
<%= link_to 'Back to Artists', artists_path %>
<hr>
<center>
<footer class="muted"> © Copyright 2012 | Proudcloud </footer>
</center>
