<div class="dialog">
<h1><%= @artist.name.titlecase %></h1>
<li><b><span class="text-info">Bio:</span> </b><%= @artist.bio %> </li>
<li><b><span class="text-info">Albums</b></li>
<ol type="1">
<% @artist.albums.each do |album| %>
<li class="muted"><%= album.album_name %></li>
<% end %>
</ol>
<hr>
<span class="btn btn-muted"><%= link_to 'View Albums', artist_albums_path(@artist) %> </span>
</div>
<br/>
<hr>
<%= link_to 'Back to Artists', artists_path %>