<div class = "dialog">
 <center> <h2> Add album </h2></center>
<%= form_for ([@artist,@album]) do |f| %>
  <%= f.label :album_name, "Album Name" %>
  <%= f.text_field :album_name %><br/>
  <%= f.label :date_published, "Date Published" %>
  <%= f.text_field :date_published %><br/>
  <%= f.label :genre, "Genre" %>
  <%= f.text_field :genre %><br/>
  <%= f.label :remarks, "Remarks" %>
  <%= f.text_field :remarks %><br />
  <%= f.submit "Submit", :disable_with => 'Submitting...' %>

<% end %>

</div>
<div class ="dialog-error">
<% if @album.errors.any? %>
	<% @album.errors.full_messages.each do |msg| %>
	<li class="text-error"><%= msg %></li>
	<% end %>
<% end %>
</div>

<%= link_to 'Back', artist_albums_path(@artist) %>