<ul class="nav nav-list">
<li class="active"><i class="icon-home icon-white"></i><%= link_to "Home", root_path %></li>
</ul>
<%= form_for ([@artist, @album]) do |f| %>
  <%= f.label :album_name, "Album Name" %>
  <%= f.text_field :album_name %><br/>
  <%= f.label :date_published, "Date Published" %>
  <%= f.text_field :date_published %><br/>
  <%= f.label :genre, "Genre" %>
  <%= f.text_field :genre %><br/>
  <%= f.label :remarks, "Remarks" %>
  <%= f.text_field :remarks %><br />
  <%= f.submit "Submit", :disable_with => 'Submitting...' %>
<% end %>
<% if @album.errors.any? %>
	<% @album.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
<% end %>

<%= link_to 'Back', artist_path(@artist) %>