<ul class="nav nav-pills">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Artists", artists_path %></li>
  <li><%= link_to "Albums", show_album_index_path %></li>
</ul>
<h1><%= "Albums of #{@artist.name.titlecase}" %></h1>
<table class="table table-hover">
	<tr>
		<th> Album Name </th>
		<th> Genre </th>
		<th> Date Published </th>
		<th> Remarks </th>
		<th> Tracks </th>
		<th></th>
		<th></th>
	</tr>
	<% if @artist.albums.count > 0 %>
	<% @artist.albums.each do |album| %>
		<tr>
		<td><span class="muted"><%= album.album_name %></td>
	 	<td><span class="muted"><%= album.genre %> </span></td>
		<td><span class="muted"><%= album.date_published.strftime("%B %d, %Y") %></td>
		<td><span class="muted"><%= album.remarks %></td>
		<td>
		<% if album.tracks.count > 0 %>
		<span class="muted"><%= link_to "Show all (#{album.tracks.count.to_s()})", artist_album_tracks_path(@artist,album) %>
		<% else %>
		<span class="muted"><%= link_to "Empty Album", artist_album_tracks_path(@artist,album) %></span>
		<% end %>
		</td>
		<td><%= link_to 'Edit', edit_artist_album_path(@artist,album) %></td>
		<td><%= link_to 'Destroy', artist_album_path(@artist,album), :method => :delete, :data => {:confirm => "Are you sure?" } %></td>
		</tr>
	<% end %>
	<% else %>
	<td class="muted">
		<%= "Create an Album for #{@artist.name.titlecase}" %> 
		<% end %>
	</td>
</table>
<center><span class="text text-success"><%= notice %></span></center>
<br/>
<% if @albums.count == 0 %>
<%= button_to "Create an Album for #{@artist.name.titlecase}", new_artist_album_path(@artist), :class => 'btn btn-info', :method => :get %>
<% else %>
<%= button_to "Add album for #{@artist.name.titlecase}", new_artist_album_path(@artist), :class => 'btn btn-info', :method => :get %>
<% end %>
<hr>
<%= link_to "Back to #{@artist.name.titlecase}", artist_path(@artist)%>
<hr>
<center>
<footer class="muted"> © Copyright 2012 | Proudcloud </footer>
</center>
